.parallax-container {
	height: 180px;

	.title-cover {
		width: 100%;
		height: 180px;
		margin-bottom: 2em;
		overflow: hidden;

		.text-container {
			width: 100%;
			padding-left: 0.8em;
			padding-right: 0.8em;
			z-index: 999;

			h3 {
				@include font($alt-display-font, 1.8em, 600);
				letter-spacing: 2px;
				margin-bottom: 0.2em;
			}

			p {
				@include font($content-font, 1.2em, 200);
				opacity: 0.9;
				max-width: 80%;
				margin: auto;
				margin-top: 0.4em;
			}
		}
	}
}
